set -a

OS_CLOUD=build-project

PACKER_LOG=1
PKR_VAR_SKIP_IMAGE_CREATION='false'
PKR_VAR_CONSTRUCTOR_EXEC_PROVISIONER_TASK_INSTALL='true'
#PKR_VAR_CONSTRUCTOR_EXEC_POST_PROCESSOR_TASK_INSTALL='true'
PKR_VAR_OS_CLOUD=${OS_CLOUD}
PKR_VAR_FLAVOR_NAME=os.4
PKR_VAR_FLOATING_IP_NETWORK='public'
PKR_VAR_NETWORK_DISCOVERY_CIDRS=192.168.1.0/24

PKR_VAR_SYSTEM_DISTRIBUTION_VERSION_NAME=noble
PKR_VAR_SYSTEM_DISTRIBUTION_VERSION_NUMBER=24.04
PKR_VAR_VOLUME_SIZE=80
PKR_VAR_TARGET_SSH_USERNAME=ubuntu
PKR_VAR_SYSTEM_DISTRIBUTION_NAME=ubuntu
#
# [ amd64, arm64 ]
#
PKR_VAR_SYSTEM_DISTRIBUTION_ARCH=amd64

#
#  https://cloud-images.ubuntu.com/releases/releases/24.04/release/ubuntu-24.04-server-cloudimg-amd64.img
#
PKR_VAR_SOURCE_IMAGE_URL="$(
    printf 'https://cloud-images.ubuntu.com/releases/releases/%s/release/ubuntu-%s-server-cloudimg-%s.img' \
           "${PKR_VAR_SYSTEM_DISTRIBUTION_VERSION_NUMBER}" \
           "${PKR_VAR_SYSTEM_DISTRIBUTION_VERSION_NUMBER}" \
           "${PKR_VAR_SYSTEM_DISTRIBUTION_ARCH}"
)"

PKR_VAR_PACKER_FIRMWARE_NAME=bios

PKR_VAR_TARGET_IMAGE_BUILD_UUID="$(
  pkgx +github.com/util-linux/util-linux uuidgen
)"
PKR_VAR_TARGET_IMAGE_BUILD_TAG=ga
PKR_VAR_TARGET_IMAGE_BUILD_VERSION=v0.1
PKR_VAR_TARGET_IMAGE_BUILD_OWNER=bot
PKR_VAR_TARGET_IMAGE_BUILD_ORGANIZATION=openstack-continuous-integration

PKR_VAR_TARGET_IMAGE_BUILD_YEAR=$( date '+%Y' )
PKR_VAR_TARGET_IMAGE_BUILD_MONTH=$( date '+%m' )
PKR_VAR_TARGET_IMAGE_BUILD_DAY=$( date '+%d' )
PKR_VAR_TARGET_IMAGE_BUILD_TIME=$( date '+%H%M%S' )
PKR_VAR_TARGET_IMAGE_BUILD_DATETIME="$(
    printf '%s%s%s%s' \
           ${PKR_VAR_TARGET_IMAGE_BUILD_YEAR} \
           ${PKR_VAR_TARGET_IMAGE_BUILD_MONTH} \
           ${PKR_VAR_TARGET_IMAGE_BUILD_DAY} \
           ${PKR_VAR_TARGET_IMAGE_BUILD_TIME}
)"

PKR_VAR_BUILD_TOOL_NAME='packer'
PKR_VAR_BUILD_TOOL_VERSION="$(
    PACKER_LOG=0 pkgx +packer.io packer version \
  | cut -d ' ' -f 2
)"

PKR_VAR_TARGET_IMAGE_FORMAT='qcow2'

PKR_VAR_TARGET_IMAGE_NAME="$(
    printf '%s-%s-%s-%s-%s-%s-%s-%s-%s-%s.%s' \
           "${PKR_VAR_SYSTEM_DISTRIBUTION_NAME}" \
           "${PKR_VAR_SYSTEM_DISTRIBUTION_VERSION_NUMBER}" \
           "${PKR_VAR_SYSTEM_DISTRIBUTION_VERSION_NAME}" \
           "${PKR_VAR_SYSTEM_DISTRIBUTION_ARCH}" \
           "${PKR_VAR_PACKER_FIRMWARE_NAME}" \
           "${PKR_VAR_TARGET_IMAGE_BUILD_ORGANIZATION}" \
           "${PKR_VAR_TARGET_IMAGE_BUILD_TAG}" \
           "${PKR_VAR_TARGET_IMAGE_BUILD_VERSION}" \
           "${PKR_VAR_TARGET_IMAGE_BUILD_OWNER}" \
           "${PKR_VAR_TARGET_IMAGE_BUILD_DATETIME}" \
           "${PKR_VAR_TARGET_IMAGE_FORMAT}"
)"

PKR_VAR_VOLUME_NAME=${PKR_VAR_TARGET_IMAGE_NAME}
PKR_VAR_SET_IMAGE_METADATA='true'

set +a
